#!/usr/bin/env zsh

# This hook is run after a direnv reload.

REPO="$PWD"

if [ ! -d .venv ]; then
    echo "Creating virtual environment..." 1>&2
    python3 -m venv .venv
    # shellcheck source=/dev/null
    source .venv/bin/activate
    pip install -r requirements.txt
else
    echo "Activating virtual environment..." 1>&2
    # shellcheck source=/dev/null
    source .venv/bin/activate
fi
export PATH="$REPO/bin:$PATH"
